build --cxxopt -std=c++17 --linkopt -L/usr/local/lib --linkopt -lglog --linkopt -lgmp --linkopt -lgmpxx --linkopt -lgtest --linkopt -lpthread --client_env=CC=clang --client_env=CXX=clang++
test --test_env=ASAN_OPTIONS="detect_container_overflow=0" --test_output=all --compilation_mode=dbg --cxxopt -std=c++17 --cxxopt -fsanitize=address --cxxopt -fno-omit-frame-pointer --linkopt -L/usr/local/lib --linkopt -lglog --linkopt -lgmp --linkopt -lgmpxx --linkopt -fsanitize=address --linkopt -lgtest --linkopt -lpthread --client_env=CC=clang --client_env=CXX=clang++
